/*! The single CSS file for each page of the website
*/
/* Font and glyphicon declarations */
/*********************/
/* Open Source Fonts */
/*********************/
/* In descending order of thickness using the Web Open Font Format (.woff2) */
/* Lato-Black */
@font-face {
  font-family: 'lato-black';
  src: url(fonts/lato/LatoLatin-Black.woff2) format("woff2"), url(fonts/lato/LatoLatin-Black.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Lato-Heavy */
@font-face {
  font-family: 'lato-heavy';
  src: url(fonts/lato/LatoLatin-Heavy.woff2) format("woff2"), url(fonts/lato/LatoLatin-Heavy.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Lato-Regular */
@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-Regular.woff2) format("woff2"), url(fonts/lato/LatoLatin-Regular.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Lato-Regular Bold */
@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-Bold.woff2) format("woff2"), url(fonts/lato/LatoLatin-Bold.woff) format("woff");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility; }

/* Lato-Regular Italic */
@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-Italic.woff2) format("woff2"), url(fonts/lato/LatoLatin-Italic.woff) format("woff");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Lato-Regular BoldItalic */
@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-BoldItalic.woff2) format("woff2"), url(fonts/lato/LatoLatin-BoldItalic.woff) format("woff");
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility; }

/* Lato-Light */
@font-face {
  font-family: 'lato-light';
  src: url(fonts/lato/LatoLatin-Light.woff2) format("woff2"), url(fonts/lato/LatoLatin-Light.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Lato-Light Italic */
@font-face {
  font-family: 'lato-light';
  src: url(fonts/lato/LatoLatin-LightItalic.woff2) format("woff2"), url(fonts/lato/LatoLatin-LightItalic.woff) format("woff");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Lato-Thin */
@font-face {
  font-family: 'lato-thin';
  src: url(fonts/lato/LatoLatin-Thin.woff2) format("woff2"), url(fonts/lato/LatoLatin-Thin.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Lato-Thin Italic */
@font-face {
  font-family: 'lato-thin';
  src: url(fonts/lato/LatoLatin-ThinItalic.woff2) format("woff2"), url(fonts/lato/LatoLatin-ThinItalic.woff) format("woff");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/**************/
/* Glyphicons */
/**************/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg"); }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1; }

.glyphicon-asterisk:before {
  content: "\2a"; }

.glyphicon-plus:before {
  content: "\2b"; }

.glyphicon-euro:before {
  content: "\20ac"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-cloud:before {
  content: "\2601"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse-down:before {
  content: "\e159"; }

.glyphicon-collapse-up:before {
  content: "\e160"; }

.glyphicon-log-in:before {
  content: "\e161"; }

.glyphicon-flash:before {
  content: "\e162"; }

.glyphicon-log-out:before {
  content: "\e163"; }

.glyphicon-new-window:before {
  content: "\e164"; }

.glyphicon-record:before {
  content: "\e165"; }

.glyphicon-save:before {
  content: "\e166"; }

.glyphicon-open:before {
  content: "\e167"; }

.glyphicon-saved:before {
  content: "\e168"; }

.glyphicon-import:before {
  content: "\e169"; }

.glyphicon-export:before {
  content: "\e170"; }

.glyphicon-send:before {
  content: "\e171"; }

.glyphicon-floppy-disk:before {
  content: "\e172"; }

.glyphicon-floppy-saved:before {
  content: "\e173"; }

.glyphicon-floppy-remove:before {
  content: "\e174"; }

.glyphicon-floppy-save:before {
  content: "\e175"; }

.glyphicon-floppy-open:before {
  content: "\e176"; }

.glyphicon-credit-card:before {
  content: "\e177"; }

.glyphicon-transfer:before {
  content: "\e178"; }

.glyphicon-cutlery:before {
  content: "\e179"; }

.glyphicon-header:before {
  content: "\e180"; }

.glyphicon-compressed:before {
  content: "\e181"; }

.glyphicon-earphone:before {
  content: "\e182"; }

.glyphicon-phone-alt:before {
  content: "\e183"; }

.glyphicon-tower:before {
  content: "\e184"; }

.glyphicon-stats:before {
  content: "\e185"; }

.glyphicon-sd-video:before {
  content: "\e186"; }

.glyphicon-hd-video:before {
  content: "\e187"; }

.glyphicon-subtitles:before {
  content: "\e188"; }

.glyphicon-sound-stereo:before {
  content: "\e189"; }

.glyphicon-sound-dolby:before {
  content: "\e190"; }

.glyphicon-sound-5-1:before {
  content: "\e191"; }

.glyphicon-sound-6-1:before {
  content: "\e192"; }

.glyphicon-sound-7-1:before {
  content: "\e193"; }

.glyphicon-copyright-mark:before {
  content: "\e194"; }

.glyphicon-registration-mark:before {
  content: "\e195"; }

.glyphicon-cloud-download:before {
  content: "\e197"; }

.glyphicon-cloud-upload:before {
  content: "\e198"; }

.glyphicon-tree-conifer:before {
  content: "\e199"; }

.glyphicon-tree-deciduous:before {
  content: "\e200"; }

.glyphicon-briefcase:before {
  content: "\1f4bc"; }

.glyphicon-calendar:before {
  content: "\1f4c5"; }

.glyphicon-pushpin:before {
  content: "\1f4cc"; }

.glyphicon-paperclip:before {
  content: "\1f4ce"; }

.glyphicon-camera:before {
  content: "\1f4f7"; }

.glyphicon-lock:before {
  content: "\1f512"; }

.glyphicon-bell:before {
  content: "\1f514"; }

.glyphicon-bookmark:before {
  content: "\1f516"; }

.glyphicon-fire:before {
  content: "\1f525"; }

.glyphicon-wrench:before {
  content: "\1f527"; }

/* Media query declarations */
/*****************/
/* Media Queries */
/*****************/
/* Extra Small Devices (phones, 480px and up) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Constant declarations */
/**********/
/* Colors */
/**********/
/* Background colors */
/* Button */
/* Inverse Button */
/* Text */
/* Default border */
/* Error/alert/disabled */
/* Highlighter */
/* Project Button */
/* Transition Duration */
/* #CC9 - Tan */
/* #069 - Dark Blue  */
/* #09C - Light Blue */
/* #E74C3C - Light Red */
/* #CC4335 - Dark Red */
/* #CCC - White */
/* #333 - Black */
/* Default CSS */
/***********/
/* Default */
/***********/
/************************************/
/* Classes for JavaScript Functions */
/************************************/
.stop-scrolling {
  overflow: hidden;
  height: 100%; }

/**************/
/* Glyphicons */
/**************/
.glyphicon {
  vertical-align: text-top;
  font-size: 1em; }

/**********/
/* Border */
/**********/
.border {
  border: 0.2vw solid #FFF; }

/***********/
/* Buttons */
/***********/
button {
  display: inline-block;
  color: #CC9;
  background-color: #FFF;
  font-family: 'lato-heavy';
  font-size: 1.25em;
  line-height: 250%;
  text-align: center;
  text-decoration: none;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0.5vw 0.25vw;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s;
  transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s; }

button:hover {
  color: #CC9;
  background-color: #09C;
  text-decoration: none;
  border-color: #FFF; }

button:active {
  color: #CC9;
  background-color: #069;
  text-decoration: none;
  border-color: #FFF; }

button:focus {
  border-color: #069;
  outline: none; }

button[disabled] {
  opacity: 1.0;
  color: #CC9;
  background-color: #E74C3C;
  border-color: #CC4335;
  cursor: not-allowed; }

button[active] {
  background-color: #09C; }

button[active]:hover {
  background-color: #FFF; }

button[active]:active {
  background-color: #069; }

button[active]:focus {
  border-color: #069; }

/*********/
/* Links */
/*********/
a {
  color: currentColor;
  font-family: 'lato-thin';
  font-style: italic;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in-out 0s;
  transition: color 0.15s ease-in-out 0s; }

a:hover {
  color: #09C;
  text-decoration: overline underline; }

a:active, a:focus {
  color: #069;
  text-decoration: overline line-through underline; }

a:focus {
  outline: none; }

a.btn {
  display: block;
  color: #CC9;
  background-color: #FFF;
  text-decoration: none;
  height: auto;
  width: auto;
  vertical-align: top;
  margin: 0;
  border-radius: 0;
  padding: 0.5vw 0.25vw;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s;
  transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s; }

a.btn:hover {
  color: #CC9;
  background-color: #09C !important;
  text-decoration: none;
  border-color: #FFF; }

a.btn:active {
  color: #CC9;
  background-color: #069 !important;
  text-decoration: none;
  border-color: #FFF; }

a.btn:focus {
  color: #CC9;
  background-color: #FFF;
  text-decoration: none;
  border-color: #069;
  outline: none; }

/************/
/* Headings */
/************/
h2::after, h3::after, h4::after {
  content: '';
  display: block;
  border: 0.5vw solid #CC9;
  border-radius: 1vw;
  margin: 0.5vw 10% 0; }

h1, h2, h3, h4 {
  color: #333;
  font-family: 'lato-regular';
  font-style: normal;
  text-align: center;
  cursor: text;
  margin: 0;
  padding: 0 2%; }

h1 {
  color: #CC9;
  font-family: 'lato-black';
  font-size: 4.5em;
  padding: 0 2%; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em;
  padding-top: 0.5vw;
  padding-bottom: 1vw; }

h4 {
  font-size: 1.25em;
  margin-bottom: 1vw; }

/**************/
/* Paragraphs */
/**************/
p {
  color: #333;
  text-align: left;
  text-indent: 2vw;
  font-family: 'lato-light';
  font-size: 1em;
  cursor: text; }

p.time {
  text-align: right;
  margin-bottom: 0;
  padding-bottom: 0.5em; }

small {
  font-size: 50%; }

code {
  background-color: #FEF;
  font-family: monospace;
  border-radius: 2vw;
  padding: 0.2vw 2vw; }

mark {
  color: #333;
  background-color: #CCF;
  font-style: italic; }

meter {
  overflow: hidden;
  width: 50%;
  margin: 0 auto 0.5vw;
  border: 0.2vw solid #CC9; }

/*********/
/* Lists */
/*********/
nav {
  margin: 0;
  padding: 0; }

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0; }

ul > li {
  display: block; }

ul > li a {
  display: block;
  color: #CC9;
  background-color: #FFF;
  font-family: 'lato-heavy';
  font-size: 1.25em;
  line-height: 250%;
  font-style: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s; }

ul > li a:hover {
  color: #CC9;
  background-color: #09C;
  text-decoration: none; }

ul > li a:active, ul > li a:focus {
  color: #CC9;
  background-color: #069;
  text-decoration: none; }

/*********/
/* Media */
/*********/
img, video, iframe {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 0; }

/***********/
/* Content */
/***********/
body {
  display: block;
  overflow: auto;
  height: auto;
  background-color: #CC9;
  font-family: 'lato-regular', sans-serif;
  font-size: 100%;
  padding: 2vw;
  margin: 0 auto; }

header, footer {
  height: auto;
  width: auto;
  margin: 0 auto;
  padding: 0; }

main {
  overflow: hidden;
  margin: 0 auto;
  padding: 0; }

article {
  height: auto;
  width: auto;
  margin: 0;
  margin-top: 2vw;
  border: 0;
  padding: 0; }

footer {
  margin-top: 2vw; }

/*******************/
/* Dynamic Styling */
/*******************/
/* Extra Small Devices (phones, 480px and up) */
@media (min-width: 480px) {
  h2 {
    font-size: 2em; }
  small {
    font-size: 60%; }
  meter {
    margin-bottom: 0.3vw; }
  article {
    margin-top: 1vw; }
  footer {
    margin-top: 1vw; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h2::after, h3::after, h4::after {
    border-width: 0.2vw; }
  h1 {
    font-size: 7.5em;
    padding: 0 5%; }
  h2 {
    font-size: 2.5em; }
  h3 {
    font-size: 2em; }
  h4 {
    font-size: 1.5em; }
  small {
    font-size: 70%; }
  ul > li {
    display: inline-block; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  button {
    font-size: 1.25em; }
  .btn-text {
    font-size: 1.25em; }
  h2 {
    font-size: 3em; }
  h4 {
    font-size: 1.75em; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    padding-left: 11vw;
    padding-right: 11vw; }
  small {
    font-size: 80%; } }

/* Header CSS */
/**********/
/* Header */
/**********/
/********/
/* Main */
/********/
header#header {
  color: #CC9;
  text-align: center;
  cursor: pointer; }

/* Title :: SeanKrail.com */
a#title {
  display: block;
  text-decoration: none;
  background-color: #FFF;
  border-bottom: 0;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  margin: 0; }

a.btn#title:focus {
  border-color: #069; }

/* Navagation Bar :: Projects - Home - Resume */
nav a.btn {
  border-top: 0 !important; }

nav li:first-child a {
  border-right: 0; }

nav li:nth-child(2) a {
  border-left: 0;
  border-right: 0; }

nav li:last-child a {
  border-left: 0; }

nav a.btn#page {
  background-color: #09C;
  text-decoration: none; }

nav a.btn#page:hover {
  background-color: #FFF; }

nav a.btn#page:active {
  background-color: #069;
  text-decoration: none; }

nav a.btn#page:focus {
  background-color: #09C;
  border-color: #069; }

/*******************/
/* Dynamic Styling */
/*******************/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  nav > ul > li {
    width: 33.333%; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Page-specific main CSS */
/************/
/* Projects */
/************/
/**************/
/* Glyphicons */
/**************/
.glyphicon-search {
  vertical-align: baseline;
  font-size: 0.8em; }

.glyphicon-expand-collapse {
  vertical-align: baseline; }

/**********/
/* Alerts */
/**********/
div.error {
  color: #FFF;
  background-color: #E74C3C;
  font-family: 'lato-regular';
  font-size: 1em;
  margin: 0;
  margin-top: 1vw;
  border-color: #CC4335;
  padding: 1vw; }

div.error span {
  margin-right: 1vw; }

/********/
/* Form */
/********/
form {
  display: block;
  margin: 0;
  margin-top: 2vw;
  border: 0;
  padding: 0;
  height: 10vw;
  width: 100%; }

form > input {
  display: inline-block;
  background-color: #FFF;
  font-size: 1em;
  height: 100%;
  width: 74vw;
  box-sizing: border-box !important;
  vertical-align: top;
  margin-right: 2vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding: 0.2vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  -webkit-transition: border-color 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s; }

form > input:hover {
  border-color: #09C; }

form > input:active, form > input:focus {
  outline: none;
  border-color: #069; }

form > button {
  height: 100%;
  width: 20vw;
  font-size: 1.5em;
  border-radius: 1vw 0 0 1vw; }

/*****************/
/* Lists/Buttons */
/*****************/
ul.projects-ul-ul {
  box-sizing: border-box;
  width: 100%;
  margin-top: 2vw; }

ul.projects-ul-ul li {
  display: inline-block;
  box-sizing: border-box;
  width: 50%; }

ul.projects-ul-ul li button {
  width: 100%; }

ul.projects-ul-ul li:first-child button {
  border-right: 0; }

ul.projects-ul-ul li:last-child button {
  border-left: 0; }

body > button {
  width: 100%;
  margin-top: 2vw; }

/**************/
/* Paragraphs */
/**************/
mark.searched {
  background-color: #CFC; }

/********/
/* Main */
/********/
main#projects {
  text-align: center;
  margin: 0 -2vw; }

article.project-article > header {
  overflow: hidden;
  background-color: #FFF;
  height: auto;
  width: auto;
  margin: 0 2vw;
  padding: 0.5vw;
  cursor: pointer;
  -webkit-transition: margin 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s;
  transition: margin 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s; }

article.project-article > header:hover {
  background-color: #FFF;
  margin: 0;
  border-color: #09C; }

article.project-article > header:active {
  background-color: #FFF;
  margin: 0 1vw;
  border-color: #069; }

article.project-article > header:focus {
  background-color: #FFF;
  outline: none;
  margin: 0 2vw;
  border: 0.2vw solid #069; }

small.updated {
  position: absolute;
  font-family: 'lato-thin';
  right: 3vw;
  color: #888; }

article.project-article > header > img {
  display: none;
  position: relative;
  float: left;
  height: 20vw;
  width: 20vw;
  margin: 0; }

article.project-article > header > h2 {
  overflow: hidden;
  margin: 2vw 0 0.5vw; }

article.project-article > header > h2 > em {
  font-family: 'lato-light';
  font-style: italic; }

article.project-article > header > p.keywords {
  font-family: 'lato-regular';
  text-align: center;
  margin-top: 0; }

p.keywords > em {
  font-style: normal;
  margin-right: 0.5vw; }

p.keywords > mark {
  font-family: 'lato-light';
  padding: 0.2vw 0.5vw 0;
  margin: 0 0.2vw; }

article.project-article > header > p {
  overflow: hidden;
  text-align: left;
  width: 85vw;
  margin: 0.5em auto;
  padding: 0.5vw 2vw; }

article.project-article > div.main {
  display: block;
  padding: 0 4vw; }

div.main > section {
  display: inline-block;
  background-color: #FFF;
  text-align: left;
  text-indent: 2vw;
  box-sizing: border-box;
  margin-top: 0.5vw;
  padding: 1vw;
  padding-bottom: 0.5vw; }

div.main > section.section-half {
  width: 45.75vw;
  vertical-align: top; }

div.main > section.section-half-first {
  margin-right: 0.5vw; }

div.main > section.section-full {
  display: block;
  height: auto;
  width: auto; }

section.section-full > .landscape {
  height: auto;
  width: 100%; }

section.section-full > .portrait {
  height: 50vh;
  width: auto; }

/*******************/
/* Dynamic Styling */
/*******************/
/* Extra Small Devices (phones, 480px and up) */
@media (min-width: 480px) {
  form {
    height: 8vw;
    margin-top: 1vw; }
  form > input {
    width: 80vw;
    margin-right: 1vw; }
  form > button {
    width: 15vw; }
  ul.projects-ul-ul {
    margin-top: 1vw; }
  body > button {
    margin-top: 1vw; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .glyphicon-search {
    vertical-align: text-top;
    font-size: 1em; }
  form {
    height: 5vw; }
  form > input {
    width: 85vw; }
  form > button {
    width: 10vw; }
  ul.projects-ul {
    margin-top: 1vw; }
  ul.projects-ul > li {
    margin-right: 1vw; }
  ul.projects-ul > li:last-child {
    margin-right: 0; }
  ul.projects-ul-ul {
    width: 31.333vw;
    margin-top: 0; }
  article.project-article > header > h2 {
    margin-top: 1vw; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  form {
    height: 4vw; }
  article.project-article > header > img {
    display: block; }
  article.project-article > header > p {
    width: 70vw; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .glyphicon-search {
    vertical-align: baseline; }
  form input {
    width: 67vw; }
  ul.projects-ul-ul {
    width: 25.333vw; }
  small.updated {
    right: 12vw; }
  article.project-article > header > p {
    width: 50vw; }
  div.main > section.section-half {
    width: 35.75vw; } }

/************/
/* Projects */
/************/
/**************/
/* Glyphicons */
/**************/
.glyphicon-search {
  vertical-align: baseline;
  font-size: 0.8em; }

.glyphicon-expand-collapse {
  vertical-align: baseline; }

/**********/
/* Alerts */
/**********/
div.error {
  color: #FFF;
  background-color: #E74C3C;
  font-family: 'lato-regular';
  font-size: 1em;
  margin: 0;
  margin-top: 1vw;
  border-color: #CC4335;
  padding: 1vw; }

div.error span {
  margin-right: 1vw; }

/********/
/* Form */
/********/
form {
  display: block;
  margin: 0;
  margin-top: 2vw;
  border: 0;
  padding: 0;
  height: 10vw;
  width: 100%; }

form > input {
  display: inline-block;
  background-color: #FFF;
  font-size: 1em;
  height: 100%;
  width: 74vw;
  box-sizing: border-box;
  vertical-align: top;
  margin-right: 2vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding: 0.2vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  -webkit-transition: border-color 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s; }

form > input:hover {
  border-color: #09C; }

form > input:active, form > input:focus {
  outline: none;
  border-color: #069; }

form > button {
  height: 100%;
  width: 20vw;
  font-size: 1.5em;
  border-radius: 1vw 0 0 1vw; }

/*****************/
/* Lists/Buttons */
/*****************/
ul.projects-ul-ul {
  box-sizing: border-box;
  width: 100%;
  margin-top: 2vw; }

ul.projects-ul-ul li {
  display: inline-block;
  box-sizing: border-box;
  width: 50%; }

ul.projects-ul-ul li button {
  width: 100%; }

ul.projects-ul-ul li:first-child button {
  border-right: 0; }

ul.projects-ul-ul li:last-child button {
  border-left: 0; }

body > button {
  width: 100%;
  margin-top: 2vw; }

/**************/
/* Paragraphs */
/**************/
mark.searched {
  background-color: #CFC; }

/********/
/* Main */
/********/
main#projects {
  text-align: center;
  margin: 0 -2vw; }

article.project-article > button {
  overflow: hidden;
  background-color: #FFF;
  font-size: 100%;
  height: auto;
  width: auto;
  margin: 0 2vw;
  padding: 0.5vw;
  cursor: pointer;
  -webkit-transition: margin 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s;
  transition: margin 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s; }

article.project-article > button:hover {
  background-color: #FFF;
  margin: 0;
  border-color: #09C; }

article.project-article > button:active {
  background-color: #FFF;
  margin: 0 1vw;
  border-color: #069; }

article.projectf-article > button:focus {
  background-color: #FFF;
  outline: none;
  margin: 0 2vw;
  border: 0.2vw solid #069; }

small.updated {
  position: absolute;
  font-family: 'lato-thin';
  right: 3vw;
  color: #888; }

article.project-article > button > img {
  display: none;
  position: relative;
  float: left;
  height: 20vw;
  width: 20vw;
  margin: 0; }

article.project-article > button > h2 {
  overflow: hidden;
  margin: 2vw 0 0.5vw; }

article.project-article > button > h2 > em {
  font-family: 'lato-light';
  font-style: italic; }

article.project-article > button > p.keywords {
  font-family: 'lato-regular';
  text-align: center;
  margin-top: 0; }

p.keywords > em {
  font-style: normal;
  margin-right: 0.5vw; }

p.keywords > mark {
  font-family: 'lato-light';
  padding: 0.2vw 0.5vw 0;
  margin: 0 0.2vw; }

article.project-article > button > p {
  overflow: hidden;
  text-align: left;
  margin: 0.5em 0;
  padding: 0.5vw 2vw; }

article.project-article > div.main {
  display: block;
  padding: 0 4vw; }

div.main > section {
  display: inline-block;
  background-color: #FFF;
  text-align: left;
  text-indent: 2vw;
  box-sizing: border-box;
  margin-top: 0.5vw;
  padding: 1vw;
  padding-bottom: 0.5vw; }

div.main > section.section-half {
  width: 45.75vw;
  vertical-align: top; }

div.main > section.section-half-first {
  margin-right: 0.5vw; }

div.main > section.section-full {
  display: block;
  height: auto;
  width: auto; }

section.section-full > .landscape {
  height: auto;
  width: 100%; }

section.section-full > .portrait {
  height: 50vh;
  width: auto; }

/*******************/
/* Dynamic Styling */
/*******************/
/* Extra Small Devices (phones, 480px and up) */
@media (min-width: 480px) {
  form {
    height: 8vw;
    margin-top: 1vw; }
  form > input {
    width: 80vw;
    margin-right: 1vw; }
  form > button {
    width: 15vw; }
  ul.projects-ul-ul {
    margin-top: 1vw; }
  body > button {
    margin-top: 1vw; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .glyphicon-search {
    vertical-align: text-top;
    font-size: 1em; }
  form {
    height: 5vw; }
  form > input {
    width: 85vw; }
  form > button {
    width: 10vw; }
  ul.projects-ul {
    margin-top: 1vw; }
  ul.projects-ul > li {
    margin-right: 1vw; }
  ul.projects-ul > li:last-child {
    margin-right: 0; }
  ul.projects-ul-ul {
    width: 31.333vw;
    margin-top: 0; }
  article.project-article > button > h2 {
    margin-top: 1vw; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  form {
    height: 4vw; }
  article.project-article > button > img {
    display: block; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .glyphicon-search {
    vertical-align: baseline; }
  form input {
    width: 67vw; }
  ul.projects-ul-ul {
    width: 25.333vw; }
  small.updated {
    right: 12vw; }
  div.main > section.section-half {
    width: 35.75vw; } }

/********/
/* Home */
/********/
/********/
/* Main */
/********/
article.home {
  font-family: 'lato-light';
  font-size: 1em;
  text-align: left;
  background-color: #FFF;
  border: 0.2vw solid #FFF;
  padding: 2vw 2vw 0; }

/*******************/
/* Dynamic Styling */
/*******************/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  article.home {
    padding: 0 2vw; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  article.home {
    padding: 0 1vw; } }

/* Large devices (large desktops, 1200px and up) */
/**********/
/* Resume */
/**********/
/**************/
/* Glyphicons */
/**************/
.glyphicon-download {
  vertical-align: baseline; }

/************/
/* Headings */
/************/
main.resume h4 {
  padding-top: 1vw; }

/********/
/* Main */
/********/
main.resume {
  height: auto;
  margin-top: 2vw; }

footer.download {
  background-color: #FFF; }

footer.download ul {
  text-align: center; }

footer.download a {
  display: block;
  color: #CC9;
  background-color: #FFF;
  box-sizing: border-box;
  font-family: 'lato-heavy';
  line-height: 250%;
  font-size: 1.25em;
  text-decoration: none;
  width: 100%;
  border-top: 0;
  padding: 0;
  -webkit-transition: background-color 0.15s ease-in-out 0s;
  transition: background-color 0.15s ease-in-out 0s; }

footer.download li:first-child a {
  border-right: 0; }

footer.download li:last-child a {
  border-left: 0; }

/*******************/
/* Dynamic Styling */
/*******************/
/* Extra Small Devices (phones, 480px and up) */
@media (min-width: 480px) {
  main.resume {
    margin-top: 1vw; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer.download li {
    width: 50%; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Footer CSS */
/**********/
/* Footer */
/**********/
/**************/
/* Glyphicons */
/**************/
/*.glyphicon-address { vertical-align: baseline }*/
/********/
/* Main */
/********/
footer#footer {
  color: #CC9;
  text-align: center;
  cursor: pointer; }

/* Contact Information */
footer#footer ul {
  display: block;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0; }

footer#footer address {
  display: block;
  margin: 0;
  width: 100%; }

footer#footer a {
  border-bottom: 0; }

footer#footer li:first-child a {
  border-right: 0; }

footer#footer li:last-child a {
  border-left: 0; }

/* Top of the Page Link */
button#backtotop {
  font-size: 1em;
  text-decoration: none;
  width: 100%;
  border-top: 0;
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
  padding: 0; }

button#backtotop p {
  color: currentColor;
  text-align: center;
  text-indent: 0;
  font-family: 'lato-heavy';
  font-size: 1.25em;
  margin: 0; }

/* Version Text */
button#backtotop p.version {
  text-align: right;
  font-size: 50%;
  margin: 0;
  padding-right: 3vw; }

/*******************/
/* Dynamic Styling */
/*******************/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer#footer li {
    width: 50%; }
  button#backtotop p.version {
    font-size: 60%; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  button#backtotop p {
    font-size: 1.75em; }
  button#backtotop p.version {
    font-size: 70%; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  button#backtotop p.version {
    font-size: 80%; } }
