@charset 'UTF-8';


/**********/
/* Resume */
/**********/


/**************/
/* Glyphicons */
/**************/

.glyphicon-download { vertical-align: baseline }


/************/
/* Headings */
/************/

main.resume h4 { padding-top: 1vw  }


/********/
/* Main */
/********/

main.resume { height: auto; margin-top: 2vw }
img.resume { box-shadow: $box-shadow }
  footer.download { background-color: $foreground; box-shadow: $box-shadow }
    footer.download ul { text-align: center }
      footer.download a {
        display: block;
        color: $text-special;
        background-color: $foreground;
        box-sizing: border-box;
        font-family: 'lato-heavy';
        line-height: 250%;
        font-size: 1.25em;
        text-decoration: none;
        width: 100%;
        border-top: 0;
        padding: 0;
        transition: background-color $transition-duration ease-in-out 0s
      }
      footer.download li:first-child a { border-bottom: 0 }


/*******************/
/* Dynamic Styling */
/*******************/

/* Extra Small Devices (phones, 480px and up) */ 
@media ($xsmall) {
  main.resume { margin-top: 1vw }
}

/* Small devices (tablets, 768px and up) */
@media ($small) {
  footer.download li { width: 50% }
  footer.download li:first-child a {
    border-right: 0;
    border-bottom: 0.2vw solid $border
  }
  footer.download li:last-child a { border-left: 0 }
}

/* Medium devices (desktops, 992px and up) */
@media ($medium) {  }

/* Large devices (large desktops, 1200px and up) */
@media ($large) {  }
