extends layout

block style
  link(href='/static/content/assets/css/resume.css', rel='stylesheet', type='text/css')

block main
  main(class='resume')
    img(class='resume border', src=content.resume.image.src, alt=content.resume.image.alt)
    footer(class='download border')
      h4 #[span(class='glyphicon glyphicon-download', aria-hidden='true')] #{content.resume.download.title} #[span(class='glyphicon glyphicon-download', aria-hidden='true')]
      ul
        each format in content.resume.download.formats
          li
            a(class='btn', title=format.title, type=format.type, href=format.href, download=format.download)=format.text

block script
