@charset "UTF-8";

/**********/
/* Colors */
/**********/
/* #CC9 - Tan */
/* #069 - Dark Blue  */
/* #09C - Light Blue */
/* #0AF - Lighter Blue */
/* #E74C3C - Light Red */
/* #CC4335 - Dark Red */
/* #FFF - White */
/* #000 - Black */


/*********************/
/* Open Source Fonts */
/*********************/

/* In descending order of thickness using the Web Open Font Format (.woff2) */
/* Lato-Black */@font-face {
  font-family: 'lato-black';
  src: url(fonts/lato/LatoLatin-Black.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Black.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Heavy */@font-face {
  font-family: 'lato-heavy';
  src: url(fonts/lato/LatoLatin-Heavy.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Heavy.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Regular */@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-Regular.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Regular.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Regular Bold */@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-Bold.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Bold.woff) format('woff');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* Lato-Regular Italic */@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-Italic.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Italic.woff) format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Regular BoldItalic */@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-BoldItalic.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-BoldItalic.woff) format('woff');
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* Lato-Light */@font-face {
  font-family: 'lato-light';
  src: url(fonts/lato/LatoLatin-Light.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Light.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Light Italic */@font-face {
  font-family: 'lato-light';
  src: url(fonts/lato/LatoLatin-LightItalic.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-LightItalic.woff) format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Thin */@font-face {
  font-family: 'lato-thin';
  src: url(fonts/lato/LatoLatin-Thin.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Thin.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Thin Italic */@font-face {
  font-family: 'lato-thin';
  src: url(fonts/lato/LatoLatin-ThinItalic.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-ThinItalic.woff) format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


/************************************/
/* Classes for JavaScript Functions */
/************************************/

.stop-scrolling { overflow: hidden; height: 100% }


/**************/
/* Glyphicons */
/**************/

.glyphicon { vertical-align: text-top; font-size: 1em }


/**********/
/* Border */
/**********/

.border { border: 0.2vw solid white !important }


/***********/
/* Buttons */
/***********/

.btn {
  display: block;
  color: #CC9;
  background-color: white;
  height: auto;
  width: 100%;
  vertical-align: top;
  margin: 0;
  border-radius: 0;
  padding: 0.5vw 1vw;
  cursor: pointer;
  transition: border-color 2s ease-in-out 0s, background-color 2s ease-in-out 0s
}
.btn:hover { color: #CC9; background-color: #124B85; text-decoration: none; border-color: white }
.btn:active, .btn:focus { color: #CC9; background-color: black; text-decoration: none; border-color: white }
.btn:focus { outline: none }
.btn[disabled] { opacity: 1.0; color: #CC9; background-color: #E74C3C; border-color: #CC4335; cursor: not-allowed }
.btn-text {
  font-family: 'lato-heavy';
  font-size: 2em;
  line-height: 250%;
  text-decoration: none;
}


/*********/
/* Links */
/*********/

a { font-family: 'lato-thin'; text-decoration: none }
a:hover { text-decoration: overline underline }
a:active, a:focus { text-decoration: overline line-through underline }
a:focus { outline: none }


/************/
/* Headings */
/************/

h2:after, h3:after, h4:after {
	content: ' ';
	background: #CC9;
  display: block;
	border: 0.25vw solid #CC9;
  border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
	margin-top: 1vw
}
h1, h2, h3, h4 {
  font-family: 'lato-medium';
  text-align: center;
  cursor: text;
  margin: 0;
  padding: 0 5%
}
h1 { font-family: 'lato-black'; font-size: 7.5em }
h2 { font-size: 4em }
h3 { font-size: 2.5em; padding-top: 0.5vw; padding-bottom: 1vw }
h4 { font-size: 2.5em; margin-bottom: 1vw }


/**************/
/* Paragraphs */
/**************/

p { font-family: 'lato-light'; font-size: 1em; cursor: text }
p.time { font-size: 0.75em; text-align: right }
p.time small { font-size: 0.5em }


/*********/
/* Media */
/*********/

img, video, iframe {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 0
}


/***********/
/* Content */
/***********/

body {
	display: block;
  overflow: auto;
  height: auto;
	background-color: #CC9;
	font-family: 'lato-regular', sans-serif;
  font-size: 100%;
  padding-left: 11vw;
  padding-right: 11vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin: 0 auto;
}
header {
  display: block;
  background-color: white;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
main {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0
}
article {
  display: block;
	height: auto;
  width: 100%;
	margin: 0;
	margin-top: 1vw;
  border: 0;
  padding: 0
}
footer {
	display: block;
	background-color: white;
	margin: 0;
	padding: 0;
	margin-top: 1vw
}


/*******************/
/* Dynamic Styling */
/*******************/

/* Large Screen */
@media only screen and (min-width: 800px) {
  body {
    padding-left: 11vw;
    padding-right: 11vw;
  }
}


/* Small Screen */
@media not screen and (min-width: 800px) {
  body {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
