@charset "UTF-8";

/******************/
/** Main **/
/******************/

header#header { border-top-left-radius: 1vw; border-top-right-radius: 1vw }
  /* Title :: SeanKrail.com */
  a#title {
    display: block;
	  width: 100%;
    color: #CC9;
    background-color: white;
    border: 0;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    padding: 0;
    margin: 0;
    transition: background-color 2s ease-in-out 0s;
  }
  a#title:hover { background-color: #124B85; text-decoration: none }
  a#title:active, a#title:focus { background-color: black; text-decoration: none }
  a#title:focus { outline: none }
  /* Navagation Bar :: Projects - Home - Resume */
  nav { margin: 0; padding: 0 }
    nav ul {
      text-align: center;
      display: block;
      margin: 0;
      padding: 0
    }
      nav li {
        display: inline-block;
        width: 33.333%
      }
        nav a {
          color: #CC9;
          background-color: white;
          width: 100%;
          text-decoration: none;
          line-height: 250%;
          display: block;
          font-family: 'lato-heavy';
          font-size: 2em;
          padding: 0;
          margin: 0;
          transition: color 2s ease-in-out 0s, background-color 2s ease-in-out 0s;
        }
        nav a:hover { color: #CC9; background-color: #124B85; text-decoration: none }
        nav a:active, nav a:focus { color: #CC9; background-color: black; text-decoration: none }
        nav a:focus { outline: none }
        nav a#page { color: #CC9; background-color: #124B85; text-decoration: none }
        nav a#page:hover { color: #CC9; background-color: white }
        nav a#page:active, nav a#page:focus { color: #CC9; background-color: black; text-decoration: none }
        nav a#page:active { outline: none }


/*******************/
/* Dynamic Styling */
/*******************/

/* Large Screen */
@media only screen and (min-width: 800px) {  }

/* Small Screen */
@media not screen and (min-width: 800px) {  }
