@charset "UTF-8";

/******************/
/** Header Layer **/
/******************/

/* Title :: SeanKrail.com */
header {
  background-color: white;
  display: block;
  border: 0.2vw solid white;
  margin: 0 auto;
  padding: 0;
}
header#header { border-top-left-radius: 1vw; border-top-right-radius: 1vw }
header > a#title {
	display: block;
	height: 12vw;
	width: 100%;
	color: #CC9;
	background-color: white;
  border: 0;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
	padding: 0;
  margin: 0;
	transition: background-color 2s ease 0s;
}
header > a#title:link {
    text-decoration: none;
}
header > a#title:visited {}
header > a#title:hover {
  background-color: rgb(17,75,133)
}
header > a#title:active {
  background-color: black
}
header > a#title > h1 {
	font-family: lato-heavy;
	text-align: center;
	font-size: 10vw;
	font-weight: bold;
	margin: auto auto;
}
header > a#title > canvas {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0
}

/* Navagation Bar :: Projects - Home - Resume */
nav {margin: 0; padding: 0}
nav > ul {
	list-style: none;
	font-size: 0;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	margin: 0;
	padding: 0
}
nav > ul > li {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex: auto;
	-ms-flex: auto;
	-moz-flex: auto;
	flex: auto;
	border-width: 0;
	padding: 0;
	margin: 0
}
nav > ul > li > a {
	color: #CC9;
	background-color: white;
	width: 100%;
	text-decoration: none;
	line-height: 5vw;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 1.5vw;
	padding: 0;
	margin: 0;
	transition: background-color 2s ease-in-out 0s, color 2s ease-in-out 0s;
}
nav > ul > li > a#page { background-color: rgb(17,75,133) }

nav > ul > li > a:hover { color: #CC9; background-color: rgb(17,75,133) }
nav > ul > li > a:focus, nav > ul > li > a:active { color: #CC9; background-color: black }
/*nav > ul > li > a:active { color: #CC9; background-color: black }*/

nav > ul > li > a#page:hover { background-color: black }
nav > ul > li > a#page:focus, nav > ul > li > a#page:active { background-color: white }
/*nav > ul > li > a#page:active { color: #CC9; background-color: white }*/
