@charset "UTF-8";

/*********************/
/* Open Source Fonts */
/*********************/

/* Follows W3C's recommendation of using the web open font format (.woff) */

/* In order of thickness */
@font-face {
	font-family: lato-heavy;
	src: url(fonts/lato/Lato-Heavy.woff);
}
@font-face {
	font-family: lato-regular;
	src: url(fonts/lato/Lato-Regular.woff);
}
@font-face {
	font-family: lato-medium;
	src: url(fonts/lato/Lato-Medium.woff);
}
@font-face {
	font-family: lato-light;
	src: url(fonts/lato/Lato-Light.woff);
}
@font-face {
	font-family: lato-thin;
	src: url(fonts/lato/Lato-Thin.woff);
}
@font-face {
	font-family: lato-hairline;
	src: url(fonts/lato/Lato-Hairline.woff);
}


/*******************/
/* Common Elements */
/*******************/

span.glyphicon {
  vertical-align: text-top
}

.stop-scrolling {
  overflow: hidden;
  height: 100%
}


/**************/
/* Body Layer */
/**************/

hr {border-style: solid; border-color: #CC9; border-width: 0.15vw}

h2:after, h3:after, h4:after {
	content: ' ';
	background: #CC9;
  display: block;
	border: 0.15vw solid #CC9;
  border-radius: 0.15vw;
    -webkit-border-radius: 0.15vw;
    -moz-border-radius: 0.15vw;
	margin-top: 1vw;
	margin-bottom: -1vw;
}

body {
	display: block;
  overflow: auto;
  height: auto;
	background-color: #CC9;
	font-family: lato-regular, Helvetica, sans;
  padding-left: 11vw;
  padding-right: 11vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin: 0 auto;
}


/**************/
/* Main Layer */
/**************/

main {display: block; overflow: hidden; margin: 0 auto; padding: 0}

/* Informative Articles */
main > article {
	height: auto;
	background-color: white;
	margin: 0;
	margin-top: 1vw;
}

/* Home Articles */
main > article.home {
	font-family: lato-light;
	font-size: 1.5vw;
  text-align: left;
	padding: 1vw
}
main > article.home > header > h3 {
	font-family: lato-medium;
	text-align: center;
	font-size: 2.5vw;
	padding-left: 5%;
	padding-right: 5%
}
main > article.home > p > a {text-decoration: none}
main > article.home > p > a:hover {text-decoration: overline underline}
main > article.home > p > a:active {text-decoration: overline line-through underline}
main > article.home > p.time {
  text-align: right;
}

/* Resume Main */
main#resume {height: auto; margin: 0}
main#resume > section {
	background-color: white;
  margin: 0;
	margin-top: 1vw;
  border: 0;
  padding: 0
}
main#resume > section > img {
  display: block;
  width: 100%;
  margin: 0;
  margin-top: -1vw;
  border: 0;
  padding: 0}
main#resume > section > header > h3 {
	display: block;
	text-align: center;
	font-family: lato-medium;
	font-size: 2vw;
  margin: 0;
  margin-bottom: 2vw;
  border: 0;
  padding: 0;
  padding-top: 1vw;
	padding-left: 5vw;
	padding-right: 5vw;
	display: block
}
main#resume > section > header > h4 {
	font-family: lato-hairline;
	text-align: center;
	font-size: 2vw;
  margin: 0;
  margin-bottom: 2vw;
  border: 0;
  padding: 0;
  padding-top: 1vw;
	padding-left: 5vw;
	padding-right: 5vw
}
main#resume > section > ul {
	display: -webkit-flex;
	display: flex;
	list-style: none;
	text-align: center;
	font-size: 0;
	margin: 0;
  border: 0;
	padding: 0;
	width: 100%;
}
main#resume > section > ul > li {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex: auto;
	-ms-flex: auto;
	-moz-flex: auto;
	flex: auto;
	width: 50%;
	border: 0.2vw solid white;
}
main#resume > section > ul > li:first-child {border-right-width: 0.1vw}
main#resume > section > ul > li:last-child {border-left-width: 0.1vw}
main#resume > section > ul > li > a {
	display: block;
	font-family: lato-heavy;
	width: 100%;
	line-height: 3vw;
	font-size: 1.5vw;
	color: #CC9;
	background-color: white;
	transition: background-color 2s;
	text-decoration: none;
}
main#resume > section > ul > li > a:hover {background-color: rgb(17,75,133)}
main#resume > section > ul > li > a:active {background-color: black}

/* Project Articles */
main > div.alert {
  margin: 0;
  margin-top: 1vw;
}
main > div.alert > span {
  margin-right: 1vw
}
main > form {
  display: block;
  margin: 0;
  margin-top: 1vw;
  border: 0;
  padding: 0;
  height: 4vw;
  width: 100%
}
main > form > input {
  display: inline-block;
  height: 100%;
  width: 67vw;
  margin-right: 1vw;
  border: 0.2vw solid white;
  border-radius: 0.5vw;
  padding: 0.2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 2vw;
  flex-grow: 2
}
main > form > input:focus {
  outline: none;
  border-color: rgb(17,75,133)
}
main > form > button {
  height: 100%;
  width: 10vw;
}
main > article.project {background-color: #CC9}
main > article.project > header {display: block; background-color: white; padding: 0.5vw; cursor: pointer; transition: background-color 2s;}
main > article.project > header:hover {background-color: lightcyan}
main > article.project > header:active {background-color: lightskyblue}
main > article.project > header > div {display: block; position: relative; height: 20vw}
main > article.project > header > div > img {float: left; margin: 0; height: 100%;}
main > article.project > header > div > div {overflow: hidden; float: none; flex-shrink: 22; height: 100%; width: auto}
main > article.project > header > div > div > h2 {font-family: lato-medium; font-size: 3.5vw; text-align: center; padding-left: 5%; padding-right: 5%}
main > article.project > header > div > div > h2 > em {font-family: lato-hairline; font-size: 3.5vw; text-align: center}
main > article.project > header > div  > div > p {font-family: lato-light; font-size: 1.5vw; padding-left: 5%}
main > article.project > header > div  > div > p > a {font-family: lato-thin; text-decoration: none}
main > article.project > header > div  > div > p > a:hover {text-decoration: overline underline}
main > article.project > header > div  > div > p > a:active {text-decoration: overline line-through underline}
main > article.project > main {margin-top: 0.5vw;  width: 80%; display: block}
main > article.project > main > section.floaters {
	display: -webkit-flex;
	display: flex;
	overflow: auto;
	margin-top: 0.2vw
}
main > article.project > main > section.floaters > section.subfloater {
	background-color: white;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1vw;
	margin-right: 0.2vw
}
main > article.project > main > section.floaters > section.subfloater > div {
	display: block;
	width: 100%;
}
main > article.project > main > section.floaters > section.subfloater > div > header > h3 {
	display: block;
	text-align: center;
	font-family: lato-medium;
	font-size: 2vw;
	padding-left: 5%;
	padding-right: 5%
}
main > article.project > main > section.floaters > section.subfloater > div > img {
	display: block; margin: auto; width: 100%
}
main > article.project > main > section.floaters > section.subfloater > div > video {
	display: block; margin: auto; border: 0; height: 50vh;
}
main > article.project > main > section.floaters > section.subfloater > div > aside {padding-top: 0.5vw; text-align: center}
main > article.project > main > section.floaters > section.subfloater > div > aside > p {
	font-family: lato-light;
	font-size: 1vw;
	text-align: left
}
main > article.project > main > section.floaters > section.subfloater > div > aside > p > a {
	font-family: lato-thin;
	font-size: 1vw;
	text-decoration: none
}
main > article.project > main > section.floaters > section.subfloater > div > aside > p > a:hover {text-decoration: overline underline}
main > article.project > main > section.floaters > section.subfloater > div > aside > p > a:active {text-decoration: overline line-through underline}
main > article.project > main > section.floaters > section.subfloater > div > p {
	font-family: lato-light;
	font-size: 1vw;
}
main > article.project > main > section.floaters > section.subfloater > div > p > a {font-family: lato-thin; text-decoration: none}
main > article.project > main > section.floaters > section.subfloater > div > p > a:hover {text-decoration: overline underline}
main > article.project > main > section.floaters > section.subfloater > div > p > a:active {text-decoration: overline line-through underline}

/* Large Screen */
@media only screen and (min-width: 800px) {
  body {
    padding-left: 11vw;
    padding-right: 11vw;
  }
}
/* Small Screen */
@media not screen and (min-width: 800px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
