<!-- Written from scratch by Sean Krail -->

/****************/
/* CSS Document */
/****************/

@charset "UTF-8";

/*********************/
/* Open Source Fonts */
/*********************/

/* Follows W3C's recommendation of using the web open font format (.woff) */

/* In order of thickness */
@font-face {
	font-family: lato-heavy;
	src: url(fonts/lato/Lato-Heavy.woff);
}
@font-face {
	font-family: lato-regular;
	src: url(fonts/lato/Lato-Regular.woff);
}
@font-face {
	font-family: lato-medium;
	src: url(fonts/lato/Lato-Medium.woff);
}
@font-face {
	font-family: lato-light;
	src: url(fonts/lato/Lato-Light.woff);
}
@font-face {
	font-family: lato-thin;
	src: url(fonts/lato/Lato-Thin.woff);
}
@font-face {
	font-family: lato-hairline;
	src: url(fonts/lato/Lato-Hairline.woff);
}

/**************/
/* Body Layer */
/**************/

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	font-family: lato-regular, Helvetica, sans;
	margin: 0 auto;
	width: 48vw;
	height: 32.5vw;
	resize: both;
	overflow: auto;
}
<!--
body > div {
display: block;
width: 100%;
height: 100%;
margin: auto auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}-->
body > div {
	resize: both;
	overflow: auto;
	width: 100%;
	height: 100%;
}
body > div > header {
}
body > div > header > h1 {
	background: lightgrey;
	font-family: lato-thin;
	text-align: center;
	width: 48vw;
	height: 2.5vw;
}
body > div > main {
	width: 48vw;
	height: 30vw;
}
body > div > main > video {
	background-color: aqua;
	width: 100%;
	height: 100%;
}
