@charset "UTF-8";

/*********************/
/* Open Source Fonts */
/*********************/

/* In order of thickness using the Web open font format (.woff) */
@font-face { font-family: lato-heavy; src: url(fonts/lato/Lato-Heavy.woff) }
@font-face { font-family: lato-regular; src: url(fonts/lato/Lato-Regular.woff) }
@font-face { font-family: lato-medium; src: url(fonts/lato/Lato-Medium.woff) }
@font-face { font-family: lato-light; src: url(fonts/lato/Lato-Light.woff) }
@font-face { font-family: lato-thin; src: url(fonts/lato/Lato-Thin.woff) }
@font-face { font-family: lato-hairline; src: url(fonts/lato/Lato-Hairline.woff) }


/************************************/
/* Classes for JavaScript Functions */
/************************************/

.stop-scrolling { overflow: hidden; height: 100% }


/**************/
/* Glyphicons */
/**************/

.glyphicon { vertical-align: text-top; font-size: 1.5vw }
.glyphicon-search { vertical-align: baseline; font-size: 2vw }
.glyphicon-expand-collapse { vertical-align: baseline }
.glyphicon-download { vertical-align: baseline}


/***********/
/* Buttons */
/***********/

.btn {
  color: #CC9;
  background-color: white;
  vertical-align: top;
  border: 0.2vw solid white;
  border-radius: 0;
  padding: 0.5vw 1vw;
  transition: border-color 2s ease-in-out 0s, background-color 2s ease-in-out 0s
}
.btn:hover { color: #CC9; background-color: #124B85; border-color: white }
.btn:active, .btn:focus { color: #CC9; background-color: black; border-color: white; outline: none }
.btn[disabled] { opacity: 1.0; color: #CC9; background-color: #E74C3C; border-color: #CC4335 }
.btn-search { border-radius: 1vw 0 0 1vw }


/*********/
/* Links */
/*********/

a { text-decoration: none }
a:hover { text-decoration: overline underline }
a:active, a:focus { text-decoration: overline line-through underline; outline: none }


/************/
/* Headings */
/************/

h2:after, h3:after, h4:after {
	content: ' ';
	background: #CC9;
  display: block;
	border: 0.25vw solid #CC9;
  border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
	margin-top: 1vw
}
h1, h2, h3, h4 {
  font-family: lato-medium;
  text-align: center;
  margin: 0;
  padding: 0 5%;
}
h1 {
  font-family: lato-heavy;
  font-size: 10vw;
  font-weight: bold;
}
h2 {
  font-size: 3.5vw;
}
h3 {
	font-size: 2.5vw;
}
h4 {
	font-size: 2vw;
}
main#resume h4 {
  margin-bottom: 2vw;
  padding-top: 1vw
}


/**************/
/* Paragraphs */
/**************/

p.time { text-align: right }


/***********/
/* Content */
/***********/

body {
	display: block;
  overflow: auto;
  height: auto;
	background-color: #CC9;
	font-family: lato-regular, Helvetica, sans;
  padding-left: 11vw;
  padding-right: 11vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin: 0 auto;
}

main { display: block; overflow: hidden; margin: 0 auto; padding: 0 }
main#resume {height: auto; margin: 0}

article {
	height: auto;
	background-color: white;
	margin: 0;
	margin-top: 1vw;
}
article.home {
	font-family: lato-light;
	font-size: 1.5vw;
  text-align: left;
	padding: 1vw
}
section.expand-collapse ul {
	display: -webkit-flex;
	display: flex;
	list-style: none;
	text-align: center;
	font-size: 0;
	margin: 0;
  border: 0;
	padding: 0;
	width: 100%;
}
section.expand-collapse li {
  display: block;
	font-family: lato-heavy;
	line-height: 3vw;
	font-size: 1.5vw;
	color: #CC9;
	background-color: white;
  cursor: pointer;
  text-decoration: none;
	transition: background-color 2s ease-in-out 0s
}
section.expand-collapse li:hover { background-color: #124B85 }
section.expand-collapse li:active, section > ul > li:focus { background-color: black }
section.expand-collapse li:focus { outline: none }

main#resume img {
  display: block;
  width: 100%;
  margin: 0;
  margin-top: 1vw;
  border: 0.2vw solid white;
  padding: 0
}
footer.download {
	background-color: white;
  margin: 0;
	margin-top: 1vw;
  border: 0;
  padding: 0;
  border: 0.2vw solid white;
}
footer.download ul {
	display: -webkit-flex;
	display: flex;
	list-style: none;
	text-align: center;
	font-size: 0;
	margin: 0;
  border: 0;
	padding: 0;
	width: 100%;
}
footer.download li {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex: auto;
	-ms-flex: auto;
	-moz-flex: auto;
	flex: auto;
	width: 50%;
}
footer.download li:first-child {border-right-width: 0.1vw}
footer.download li:last-child {border-left-width: 0.1vw}
footer.download a {
	display: block;
	font-family: lato-heavy;
	width: 100%;
	line-height: 3vw;
	font-size: 1.5vw;
	color: #CC9;
	background-color: white;
  text-decoration: none;
	transition: background-color 2s ease-in-out 0s
}
footer.download a:hover { background-color: #124B85 }
footer.download a:active { background-color: black }



/********/
/* Divs */
/********/

div.alert {
  margin: 0;
  margin-top: 1vw;
  font-family: lato-regular;
  font-size: 1.5vw;
  padding: 1vw
}
div.alert span {
  margin-right: 1vw
}


/********/
/* Form */
/********/

form {
  display: block;
  margin: 0;
  margin-top: 1vw;
  border: 0;
  padding: 0;
  height: 4vw;
  width: 100%
}
form input {
  display: inline-block;
  height: 100%;
  width: 67vw;
  margin-right: 1vw;
  border: 0.2vw solid white;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding: 0.2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.75vw;
  vertical-align: top;
  /*flex-grow: 2*/
}
form input:hover, main > form > input:active, form > input:focus {
  outline: none;
  border-color: #124B85
}
form button {
  height: 100%;
  width: 10vw;
}




article.project {background-color: #CC9}
article.project > header {display: block; background-color: white; padding: 0.5vw; cursor: pointer; transition: background-color 2s ease-in-out 0s}
article.project > header:hover {background-color: lightcyan}
article.project > header:active, main > article.project > header:focus {background-color: lightskyblue; outline: none}
article.project > header > div {display: block; position: relative; height: 20vw}
article.project > header > div > img {float: left; margin: 0; height: 100%;}
article.project > header > div > div {overflow: hidden; float: none; flex-shrink: 22; height: 100%; width: auto}
article.project > header > div > div > h2 {font-family: lato-medium; font-size: 3.5vw; text-align: center; padding-left: 5%; padding-right: 5%}
article.project > header > div > div > h2 > em {font-family: lato-light; font-size: 3.5vw; text-align: center}
article.project > header > div  > div > p {font-family: lato-light; font-size: 1.5vw; padding-left: 5%}
article.project > header > div  > div > p > a {font-family: lato-thin; text-decoration: none}
article.project > header > div  > div > p > a:hover {text-decoration: overline underline}
article.project > header > div  > div > p > a:active {text-decoration: overline line-through underline}
article.project > section { margin: 0.5vw auto 0 auto; width: 95% }
article.project > section > section.floaters {
	display: -webkit-flex;
	display: flex;
	overflow: auto;
	margin-top: 0.5vw
}
article.project > section > section.floaters:first-child { margin-top: 0 }
article.project > section > section.floaters > section.subfloater {
	background-color: white;
	display: inline-flex;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	flex: 1 1 auto;
  margin-right: 0.5vw;
	padding: 1vw
}
article.project > section > section.floaters > section.subfloater:last-child { margin-right: 0 }
article.project > section > section.floaters > section.subfloater > div {
	display: block;
	width: 100%;
}
article.project > section > section.floaters > section.subfloater > div > header > h4 {
	display: block;
	text-align: center;
	font-family: lato-medium;
	font-size: 2vw;
	padding-left: 5%;
	padding-right: 5%
}
article.project > section > section.floaters > section.subfloater > div > img {
	display: block; margin: auto; width: 100%
}
article.project > section > section.floaters > section.subfloater > div > video {
	display: block; margin: auto; border: 0; height: 50vh;
}
article.project > section > section.floaters > section.subfloater > div > iframe {
	width: 10vw; height: 20vw
}
article.project > section > section.floaters > section.subfloater > div > aside {padding-top: 0.5vw; text-align: center}
article.project > section > section.floaters > section.subfloater > div > aside > p {
	font-family: lato-light;
	font-size: 1vw;
	text-align: left
}
article.project > section > section.floaters > section.subfloater > div > aside > p > a {
	font-family: lato-thin;
	font-size: 1vw;
	text-decoration: none
}
article.project > section > section.floaters > section.subfloater > div > aside > p > a:hover {text-decoration: overline underline}
article.project > section > section.floaters > section.subfloater > div > aside > p > a:active {text-decoration: overline line-through underline}
article.project > section > section.floaters > section.subfloater > div > p {
	font-family: lato-light;
	font-size: 1vw;
}
article.project > section > section.floaters > section.subfloater > div > p > a {font-family: lato-thin; text-decoration: none}
article.project > section > section.floaters > section.subfloater > div > p > a:hover {text-decoration: overline underline}
article.project > section > section.floaters > section.subfloater > div > p > a:active {text-decoration: overline line-through underline}


/* Large Screen */
@media only screen and (min-width: 800px) {
  body {
    padding-left: 11vw;
    padding-right: 11vw;
  }
}


/* Small Screen */
@media not screen and (min-width: 800px) {
  .glyphicon-search {
    vertical-align: text-top
  }
  body {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  main > form > input {
    width: 87vw;
  }
}
