@charset 'UTF-8';


/**********/
/* Colors */
/**********/

$background-color: #CC9;
$foreground-color: #CCC;

$btn-color: $foreground-color;
$hover-color: #09C;
$active-color: #069;

$btn-inverse-color: $hover-color;
$hover-inverse-color: $btn-color;
$active-inverse-color: $active-color;

$text-color: #333;
$text-color-light: $foreground-color;
$text-grey: $foreground-color;
$special-text-color: $background-color;

$border-color: $foreground-color;

$disabled-light: #E74C3C;
$disabled-dark: #CC4335;

$code-background-color: #CCF;

$project-hover: #CCF;
$project-active: #99F;

/* #CC9 - Tan */
/* #069 - Dark Blue  */
/* #09C - Light Blue */
/* #E74C3C - Light Red */
/* #CC4335 - Dark Red */
/* #CCC - White */
/* #333 - Black */
