@charset 'UTF-8';


/**********/
/* Colors */
/**********/


/* Background colors */
$background: #CC9;
$foreground: #FFF;  // #EEE?

/* Button */
$btn: $foreground;
$hover: #09C;       // #69C?
$active: #069;      // #369?

/* Inverse Button */
$btn-inverse: $hover;
$hover-inverse: $btn;
$active-inverse: $active;

/* Text */
$text-special: $background;
$text-dark: #333;
$text-grey: #888;
$text-light: $foreground;

/* Default border */
$border: $foreground;

/* Error/alert/disabled */
$error-dark: #CC4335;
$error-light: #E74C3C;

/* Highlighter */
$highlight: #CCF;
$highlight-searched: #CFC;

/* Project Button */
$project-hover: #EEF;
$project-active: #FEF;




/*************************************/
/*************************************/
/* Deprecated - Delete when possible */
/*************************************/
/*************************************/

$background-color: $background;
$foreground-color: $foreground;

$btn-color: $btn;
$hover-color: $hover;
$active-color: $active;

$btn-inverse-color: $btn-inverse;
$hover-inverse-color: $hover-inverse;
$active-inverse-color: $active-inverse;

$text-color: $text-dark;
$text-color-light: $foreground;
$special-text-color: $background;

$border-color: $foreground;

$disabled-light: $error-light;
$disabled-dark: $error-dark;

$code-background-color: $highlight;

$highlight-color: $highlight;

/* #CC9 - Tan */
/* #069 - Dark Blue  */
/* #09C - Light Blue */
/* #E74C3C - Light Red */
/* #CC4335 - Dark Red */
/* #CCC - White */
/* #333 - Black */
