@charset 'UTF-8';


/***********/
/* Default */
/***********/


/************************************/
/* Classes for JavaScript Functions */
/************************************/

.stop-scrolling { overflow: hidden; height: 100% }


/**************/
/* Glyphicons */
/**************/

.glyphicon { vertical-align: text-top; font-size: 1em }


/**********/
/* Border */
/**********/

.border { border: 0.2vw solid $border }


/***********/
/* Buttons */
/***********/

.btn {
  display: block;
  color: $text-special;
  background-color: $btn;
  height: auto;
  width: auto;
  vertical-align: top;
  margin: 0;
  border-radius: 0;
  padding: 0.5vw 1vw;
  cursor: pointer;
  transition: border-color 1s ease-in-out 0s, background-color 1s ease-in-out 0s
}
.btn:hover { color: $text-special; background-color: $hover; text-decoration: none; border-color: $border }
.btn:active, .btn:focus { color: $text-special; background-color: $active; text-decoration: none; border-color: $border }
.btn:focus { outline: none }
.btn[disabled] { opacity: 1.0; color: $text-special; background-color: $error-light; border-color: $error-dark; cursor: not-allowed }
.btn-text {
  font-family: 'lato-heavy';
  font-size: 2em;
  line-height: 250%;
  text-decoration: none;
}


/*********/
/* Links */
/*********/

a { color: currentColor; font-family: 'lato-thin'; font-style: italic; text-align: center; text-decoration: underline; transition: color 1s ease-in-out 0s }
a:hover { color: green; text-decoration: overline underline }
a:active, a:focus { color: purple; text-decoration: overline line-through underline }
a:focus { outline: none }


/************/
/* Headings */
/************/

h2::after, h3::after, h4::after {
	content: '';
  display: block;
	border: 0.5vw solid $text-special;
  border-radius: 1vw;
	margin: 0.5vw 10% 0 10%
}
h1, h2, h3, h4 {
  color: $text-dark;
  font-family: 'lato-medium';
  font-style: normal;
  text-align: center;
  cursor: text;
  margin: 0;
  padding: 0 5%
}
h1 { color: $text-special; font-family: 'lato-black'; font-size: 4.5em; padding: 0 2% }
h2 { font-size: 2em }
h3 { font-size: 1.5em; padding-top: 0.5vw; padding-bottom: 1vw }
h4 { font-size: 1.25em; margin-bottom: 1vw }


/**************/
/* Paragraphs */
/**************/

p { color: $text-color; text-align: left; text-indent: 2vw; font-family: 'lato-light'; font-size: 1em; cursor: text }
p.time { text-align: right; margin-bottom: 0; padding-bottom: 0.5em }
small { font-size: 50% }
code { background-color: $highlight; font-family: 'monospace'; padding: 0.5vw }
mark { color: $text-color; background-color: $highlight; font-style: italic }
meter { width: 30vw; margin-bottom: 0.3vw }

/*********/
/* Lists */
/*********/

nav { margin: 0; padding: 0 }

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0
}
  ul > li { display: block }
    ul > li a {
      display: block;
      color: $text-special;
      background-color: $foreground;
      font-family: 'lato-heavy';
      font-size: 1.25em;
      line-height: 250%;
      font-style: normal;
      text-decoration: none;
      margin: 0;
      padding: 0;
      transition: color 1s ease-in-out 0s, background-color 1s ease-in-out 0s
    }
    ul > li a:hover { color: $text-special; background-color: $hover; text-decoration: none; } 
    ul > li a:active, ul > li a:focus { color: $text-special; background-color: $active; text-decoration: none; }


/*********/
/* Media */
/*********/

img, video, iframe {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 0
}


/***********/
/* Content */
/***********/

body {
	display: block;
  overflow: auto;
  height: auto;
	background-color: $background;
	font-family: 'lato-regular', sans-serif;
  font-size: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin: 0 auto;
}
header, footer {
  height: auto;
  width: auto;
  margin: 0 auto;
  padding: 0;
}
main {
  overflow: hidden;
  margin: 0 auto;
  padding: 0
}
article {
	height: auto;
  width: auto;
	margin: 0;
	margin-top: 1vw;
  border: 0;
  padding: 0
}
footer { margin-top: 1vw }


/*******************/
/* Dynamic Styling */
/*******************/

@media ($xsmall) {
  small { font-size: 60% }
}

/* Small devices (tablets, 768px and up) */
@media ($small) {
  h2::after, h3::after, h4::after { border-width: 0.2vw }
  h1 { font-size: 7.5em; padding: 0 5% }
  h2 { font-size: 2.5em }
  h3 { font-size: 2em }
  h4 { font-size: 1.5em }
  small { font-size: 70% }
  ul > li { display: inline-block }
}

/* Medium devices (desktops, 992px and up) */
@media ($medium) {
  h2 { font-size: 3 em }
  h4 { font-size: 1.75em }
}

/* Large devices (large desktops, 1200px and up) */
@media ($large) {
  body {
    padding-left: 11vw;
    padding-right: 11vw
  }
  small { font-size: 80% }
}
