@charset 'UTF-8'


/*********************/
/* Open Source Fonts */
/*********************/

/* In descending order of thickness using the Web Open Font Format (.woff2) */
/* Lato-Black */@font-face {
  font-family: 'lato-black';
  src: url(fonts/lato/LatoLatin-Black.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Black.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Heavy */@font-face {
  font-family: 'lato-heavy';
  src: url(fonts/lato/LatoLatin-Heavy.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Heavy.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Regular */@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-Regular.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Regular.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Regular Bold */@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-Bold.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Bold.woff) format('woff');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* Lato-Regular Italic */@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-Italic.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Italic.woff) format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Regular BoldItalic */@font-face {
  font-family: 'lato-regular';
  src: url(fonts/lato/LatoLatin-BoldItalic.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-BoldItalic.woff) format('woff');
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* Lato-Light */@font-face {
  font-family: 'lato-light';
  src: url(fonts/lato/LatoLatin-Light.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Light.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Light Italic */@font-face {
  font-family: 'lato-light';
  src: url(fonts/lato/LatoLatin-LightItalic.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-LightItalic.woff) format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Thin */@font-face {
  font-family: 'lato-thin';
  src: url(fonts/lato/LatoLatin-Thin.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-Thin.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Lato-Thin Italic */@font-face {
  font-family: 'lato-thin';
  src: url(fonts/lato/LatoLatin-ThinItalic.woff2) format('woff2'),
    url(fonts/lato/LatoLatin-ThinItalic.woff) format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
