@charset 'UTF-8';


/**********/
/* Footer */
/**********/


/**************/
/* Glyphicons */
/**************/

/*.glyphicon-address { vertical-align: baseline }*/


/********/
/* Main */
/********/

footer#footer { color: $special-text-color; background-color: $foreground-color; text-align: center; cursor: pointer; border-bottom-left-radius: 5vw; border-bottom-right-radius: 5vw }
  /* Contact Information */
  footer#footer ul {
    display: block;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0
  }
      footer#footer address {
        display: block;
        margin: 0;
        width: 100%
      }
        footer#footer a:hover { color: $special-text-color }
        footer#footer a:active, footer#footer a:focus { color: $special-text-color }
  /* Top of the Page Link */
  a#backtotop { font-style: normal; text-decoration: none; border-bottom-left-radius: 5vw; border-bottom-right-radius: 5vw; padding-top: 2vw }
    a#backtotop p {
      color: currentColor;
      font-family: 'lato-heavy';
      font-size: 1.5em;
      margin: 0
    }
    /* Copyright Text */
    a#backtotop p.copyright {
      text-align: right;
      font-size: 50%;
      margin: 0;
      padding: 0.5vw;
      padding-right: 1vw;
    }


/*******************/
/* Dynamic Styling */
/*******************/

/* Small devices (tablets, 768px and up) */
@media ($small) {
  footer#footer li { width: 50% }
  a#backtotop { padding-top: 1.5vw }
}

/* Medium devices (desktops, 992px and up) */
@media ($medium) {
  a#backtotop p { font-size: 1.75em }
}

/* Large devices (large desktops, 1200px and up) */
@media ($large) {
  a#backtotop { padding-top: 1vw }
}
