@charset 'UTF-8';


/**********/
/* Header */
/**********/


/********/
/* Main */
/********/

header#header { background-color: $foreground-color; border-top-left-radius: 1vw; border-top-right-radius: 1vw }
  /* Title :: SeanKrail.com */
  a#title {
    display: block;
    text-decoration: none;
    background-color: $foreground-color;
    border: 0;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    margin: 0;
    transition: background-color 1s ease-in-out 0s;
  }
  a#title:hover { background-color: $hover-color; text-decoration: none }
  a#title:active, a#title:focus { background-color: $active-color; text-decoration: none }
  a#title:focus { outline: none }
  /* Navagation Bar :: Projects - Home - Resume */
        nav > ul > li a:hover { color: $special-text-color }
        nav > ul > li a:active, footer#footer a:focus { color: $special-text-color }
        nav > ul > li a#page { background-color: $btn-inverse-color; text-decoration: none }
        nav > ul > li a#page:hover { background-color: $hover-inverse-color }
        nav > ul > li a#page:active, nav > ul > li a#page:focus { background-color: $active-inverse-color; text-decoration: none }


/*******************/
/* Dynamic Styling */
/*******************/

/* Small devices (tablets, 768px and up) */
@media ($small) {
  nav > ul > li { width: 33.333% }
}

/* Medium devices (desktops, 992px and up) */
@media ($medium) {  }

/* Large devices (large desktops, 1200px and up) */
@media ($large) {  }
