@charset 'UTF-8';


/*****************/
/* Media Queries */
/*****************/


/* Extra Small Devices (phones, 480px and up) */ 
$extra-small: "min-width : 480px";

/* Small devices (tablets, 768px and up) */
$small: "min-width: 768px";

/* Medium devices (desktops, 992px and up) */
$medium: "min-width: 992px";

/* Large devices (large desktops, 1200px and up) */
$large: "min-width: 1200px";
