@charset 'UTF-8';


/************/
/* Projects */
/************/


/**************/
/* Glyphicons */
/**************/

.glyphicon-search { vertical-align: baseline; font-size: 0.8em }
.glyphicon-expand-collapse { vertical-align: baseline }


/**********/
/* Alerts */
/**********/

div.alert {
  color: $foreground-color;
  background-color: $disabled-light;
  font-family: 'lato-regular';
  font-size: 1em;
  margin: 0;
  margin-top: 1vw;
  border: 0.2vw solid $disabled-dark;
  padding: 1vw
}
div.alert span { margin-right: 1vw }


/********/
/* Form */
/********/

form {
  display: block;
  margin: 0;
  margin-top: 1vw;
  border: 0;
  padding: 0;
  height: 10vw;
  width: 100%
}
form > input {
  display: inline-block;
  background-color: $foreground-color;
  font-size: 1.25em;
  height: 100%;
  width: 87vw;
  box-sizing: border-box;
  vertical-align: top;
  margin-right: 1vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding: 0.2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  transition: border-color 1s ease-in-out 0s
}
form > input:hover { border-color: $hover-color }
form > input:active, form input:focus { outline: none; border-color: $active-color }
form > button.btn-search {
  display: inline-block;
  font-size: 1.5em;
  height: 100%;
  width: 10vw;
  border-radius: 1vw 0 0 1vw
}


/***********/
/* Buttons */
/***********/

ul.btn-expand-collapse {
	display: block;
	list-style: none;
	text-align: center;
	margin: 0;
  margin-top: 1vw;
	padding: 0
}
  ul.btn-expand-collapse > li.btn {
    display: inline-block;
    font-family: 'lato-heavy';
    line-height: 250%;
    font-size: 1em;
    text-decoration: none;
    width: 50%;
    border: 0;
    padding: 0
  }
div.btn-collapse {
  display: block;
  font-family: 'lato-heavy';
  line-height: 250%;
  font-size: 1.25em;
  text-align: center;
  margin-top: 1vw;
  padding: 0
}


/********/
/* Main */
/********/

main#projects { text-align: center }
/*article.project { display: block; background-color: #CC9 }*/
  article.project > header.project {
    overflow: hidden;
    background-color: $foreground-color;
    padding: 0.5vw;
    cursor: pointer;
    transition: background-color 1s ease-in-out 0s
}
  article.project > header.project:hover { background-color: $project-hover }
  article.project > header.project:active, article.project > header:focus { background-color: $project-active }
  article.project > header.project:focus { outline: none }
    small.updated { font-family: 'lato-thin'; float: right; color: $text-grey }
    header.project > img { position: relative; float: left; height: 20vw; width: 20vw; margin: 0 }
    header.project > h2 { overflow: hidden; margin: 2vw auto 1vw }
      header.project > h2 > em { font-family: 'lato-light'; font-style: italic }
    header.project > p.keywords { font-family: 'lato-regular'; text-align: center; margin-top: 0 }
      p.keywords > em { font-style: normal; margin-right: 0.5vw }
      p.keywords > mark { font-family: 'lato-light'; padding: 0.2vw 0.5vw 0; margin: 0 0.2vw }
    header.project > p { overflow: hidden; text-align: left; font-family: 'lato-light'; font-size: 1em; padding: 0.5vw 2vw }

  article.project > div.main { display: block; padding: 0 3vw }
    div.main > section {
      display: inline-block;
      background-color: $foreground-color;
      text-align: left;
      text-indent: 2vw;
      box-sizing: border-box;
      margin-top: 0.5vw;
      padding: 1vw;
      padding-bottom: 0.5vw
    }
    div.main > section.section-half { width: 35.75vw; vertical-align: top }
    div.main > section.section-half-first { margin-right: 0.5vw }
    div.main > section.section-full { display: block; height: auto; width: auto }
      section.section-full > .landscape { height: auto; width: 100% }
      section.section-full > .portrait { height: 50vh; width: auto }


/*******************/
/* Dynamic Styling */
/*******************/

/* Extra Small Devices (phones, 480px and up) */ 
@media ($extra-small) {
  form { height: 8vw }
}

/* Small devices (tablets, 768px and up) */
@media ($small) {
  .glyphicon-search { vertical-align: text-top; font-size: 1em }
  form { height: 5vw }
  form > input { font-size: 1.25em }
}

/* Medium devices (desktops, 992px and up) */
@media ($medium) {
  form { height: 4vw }
}

/* Large devices (large desktops, 1200px and up) */
@media ($large) {
  .glyphicon-search { vertical-align: baseline }
  form input { width: 67vw }
}
