@charset 'UTF-8';


/***********/
/*! Resume */
/***********/


/**************/
/* Glyphicons */
/**************/

.glyphicon-download { vertical-align: baseline }


/************/
/* Headings */
/************/

main.resume h4 { padding-top: 1vw  }


/********/
/* Main */
/********/

main.resume { height: auto; margin-top: 1vw }
  footer.download { background-color: white }
    footer.download ul {
      text-align: center;
    }
      footer.download li { width: 50% }
        footer.download a {
          display: block;
          color: #CC9;
          background-color: white;
          font-family: 'lato-heavy';
          line-height: 250%;
          font-size: 1.25em;
          text-decoration: none;
          padding: 0;
          transition: background-color 2s ease-in-out 0s
        }
        footer.download a:hover { background-color: #124B85 }
        footer.download a:active { background-color: black }


/*******************/
/* Dynamic Styling */
/*******************/

/* Large Screen */
@media only screen and (min-width: 800px) {  }

/* Small Screen */
@media not screen and (min-width: 800px) {  }
