@charset 'UTF-8';


/**********/
/* Resume */
/**********/


/**************/
/* Glyphicons */
/**************/

.glyphicon-download { vertical-align: baseline }


/************/
/* Headings */
/************/

main.resume h4 { padding-top: 1vw  }


/********/
/* Main */
/********/

main.resume { height: auto; margin-top: 2vw }
  footer.download { background-color: $foreground-color }
    footer.download ul {
      text-align: center;
    }
        footer.download a {
          display: block;
          color: $special-text-color;
          background-color: $foreground-color;
          font-family: 'lato-heavy';
          line-height: 250%;
          font-size: 1.25em;
          text-decoration: none;
          padding: 0;
          transition: background-color $transition-duration ease-in-out 0s
        }
        footer.download a:hover { background-color: $hover-color }
        footer.download a:active { background-color: $active-color }


/*******************/
/* Dynamic Styling */
/*******************/

/* Extra Small Devices (phones, 480px and up) */ 
@media ($xsmall) {
  main.resume { margin-top: 1vw }
}

/* Small devices (tablets, 768px and up) */
@media ($small) {
  footer.download li { width: 50% }
}

/* Medium devices (desktops, 992px and up) */
@media ($medium) {  }

/* Large devices (large desktops, 1200px and up) */
@media ($large) {  }
