@charset 'UTF-8';


/**********/
/* Footer */
/**********/


/**************/
/* Glyphicons */
/**************/

/*.glyphicon-address { vertical-align: baseline }*/


/********/
/* Main */
/********/

footer#footer {
  color: $text-special;
  box-shadow: $box-shadow;
  text-align: center;
  cursor: pointer;
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw
}
  /* Contact Information */
  footer#footer ul {
    display: block;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0
  }
      footer#footer address {
        display: block;
        margin: 0;
        width: 100%
      }
        footer#footer a { border-bottom: 0 }
        footer#footer li:last-child a { border-top: 0 }
  /* Top of the Page Link */
  button#backtotop {
    font-size: 1em;
    text-decoration: none;
    width: 100%;
    border-top: 0;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    padding: 0
  }
    button#backtotop p {
      color: currentColor;
      text-align: center;
      text-indent: 0;
      font-family: 'lato-heavy';
      font-size: 1.25em;
      margin: 0
    }
    /* Version Text */
    button#backtotop p.version {
      text-align: right;
      font-size: 50%;
      margin: 0;
      padding-right: 3vw;
    }


/*******************/
/* Dynamic Styling */
/*******************/

/* Small devices (tablets, 768px and up) */
@media ($small) {
  footer#footer li { width: 50% }
  footer#footer li:first-child a { border-right: 0 }
  footer#footer li:last-child a {
    border-left: 0;
    border-top: 0.2vw solid $border
  }
  footer#footer li:last-child a:focus { border-top: 0.2vw solid $active }
  button#backtotop p.version { font-size: 60% }
}

/* Medium devices (desktops, 992px and up) */
@media ($medium) {
  button#backtotop p { font-size: 1.75em }
  button#backtotop p.version { font-size: 70% }
}

/* Large devices (large desktops, 1200px and up) */
@media ($large) {
  button#backtotop p.version { font-size: 80% }
}
